Repository itwzhp/infrastruktura, pull requests merged in 2021-08, with the labels that each got.

#77 Fix redirect engine push
  domains/redirects/redirects.arm.json
Labels: component/DNS

#76 Change A to Delegaion_A
  domains/zhp.pl.zone.js
Labels: component/DNS

#78 Certificate request and binding added to ARM (Redirect Engine)
  domains/redirects/redirects.arm.json
Labels: component/DNS

#80 Dodałem rundeck.zhp.pl
  domains/zhp.pl.d/wydzial-it.js
Labels: component/DNS

#81 Usunięcie zbędnych wpisów dla Hufca Wschowa
  domains/zhp.pl.d/wielkopolska.js
  domains/zhp.pl.zone.js
Labels: component/DNS

#85 Try to fix ARM deployment problem
  domains/redirects/redirects.arm.json
Labels: component/DNS

#86 CSI redirects added to zhp.pl.json
  domains/redirects/redirectFiles/zhp.pl.json
Labels: component/DNS

#87 Deploy redirect engine incrementally
  .github/workflows/redirects-push.yml
Labels: component/ACTIONS

#88 Split redirect engine ARM
  .github/workflows/redirects-push.yml
  domains/redirects/certificatesBind.arm.json
  domains/redirects/redirects.arm.json
Labels: component/DNS, component/ACTIONS
